:root {
    --color: #00C853;
}

/* Style untuk Navbar */
.navigation {
    display: flex;
    justify-content: space-between;
    height: 4.5em;
    align-items: center;
    width: 100%;
    font-family: 'Lato', sans-serif;
    padding-top:15px; 
}

.navigation h2 {
    font-size: 20px;
    color: #212121;
    font-weight: 500;
    margin-left: 1em;
	font-family: 'Comfortaa', cursive;
}

.nav-menu {
    margin-right: 1em;
}

.nav-menu ul li {
    display: inline-block;
    margin-right: 14px;
}

.nav-menu ul li a {
    color: var(--color);
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s;
    padding: 5px 10px;
}

.nav-menu ul li a:hover {
    color: #212121;
}

.nav-menu ul li i  {
    font-size: 22px;
    display: none;
    cursor: pointer;
}

/* Style untuk Sidebar */
.sidebar, .sidebar-toggle {
    width:100%;
    background-color:var(--color);
    position: absolute;
    right:0;
}

.sidebar-toggle {
    display: none;
}

.sidebar ul li {
    margin-bottom: 3em;
    text-align: center;
    margin-top: 20px;
    height: 50px;
}

.sidebar ul li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
}

.button-sidebar {
    padding: 2px 4px;
}

/* Style untuk Hero */
.container-1 {
    height: 450px;
    background: url(https://i.ibb.co/HVkydQ5/computer-1209641-1280.png) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    display: flex;
	align-items:center;
}

.heading {
    margin: .9em auto;
    text-align: center;
    font-weight: 600;
}

.heading h2,
.heading h3 {
    font-size: 40px;
    line-height: 1.2em;
    letter-spacing: .1em;
    color: #fff;
    margin: 20px 0;
}
.heading h3 {
	font-size: 36px;
}
/* Style untuk Lesson */
.container-2 {
    background-color: #FAFAFA;
    padding-bottom: 40px;
    width: 100%;
    margin: 8rem auto;
    font-family: 'Lato', sans-serif;
}

.heading-2 h6 {
    padding-top: 30px;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: .04em;
    margin-bottom: 1em;
    text-align: center;
    color: #212121;
}

.lesson {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    width: 85%;
}

.lesson-wrap {
    padding: 30px 25px;
    border-radius: 6px;
    margin-top: 2.5em;
    margin-bottom: 3em;
    color: #424242;
    box-shadow: 0 10px 18px rgba(150, 150, 160, .1);
    height: auto;
    width: 300px;
    margin:20px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
}

.lesson-wrap img {
	position: absolute;
	left: 75px;
}

.lesson-wrap h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 6.3em;
    font-weight: 700;
}
.lesson-wrap p {
    font-size: 16px;
    width: 220px;
    margin-top: 10px;
    line-height: 1.5em;
    color: #757575;
    height:70px;
}
.lesson-wrap a {
    padding: 12px 15px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid var(--color);
    border-radius: 50px;
    margin: 3em auto;
    margin-bottom: 0;
    transition: .3s;
    display: inline-block;
    color: var(--color);
    font-weight:700;
}

.lesson-wrap a:hover {
  background: var(--color);
  color:white;
}

/* Style untuk container-3*/
.container-3 {
    display:flex ;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    align-items: center;
    margin-top: 15em;
    overflow: hidden;
}

.container-3 img {
    width: 500px;
}
.heading-3 {
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    padding: 0 20px;
}

.heading-3 h2 {
    color: #212121;
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom:20px;
}

.list li {
    padding: 1em 0;
    font-size: 1.2em;
    text-align:center:
}
.list .fas {
    color: var(--color);
}

.list i{
    margin-right: .8em;
}

.list a {
    padding: 15px;
    color: #212121;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    background: none;
    border: 2px solid var(--color);
    border-radius: 50px;
    text-align: left;
}

.list .icon {
    margin: 1em auto;
    position: relative;
    top: .18em;
    left: .20em;
}

/* Style untuk Footer */

.container-footer {
    margin-top: 15em;
    font-family: 'Lato', sans-serif;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
}

.menu-1 h2 {
    font-size: 2em;
    color: #212121;
    margin-left: 1.5em;
    font-family: 'Lato', sans-serif;
}

.menu-2 {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}

.sub-menu {
    margin-left: 7em;
}

.menu-2 ul li {
    margin-bottom: 1.5em;
    color:#212121;
}

.menu-2 ul li:nth-child(1) {
    font-size: 24px;
    text-decoration: none;
}

.menu-2 ul li a {
    color: var(--color);
    font-weight: normal;
}

.fab {
    color: var(--color);
    margin-left:10px;
    margin-right:15px;
}

.icon p {
    font-size: 22px;
    color: #212121;
    font-weight: 600;
    margin-bottom: 2em;
    margin-right: 20px;
}

.text-copyright {
    background-color: #212121;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.text-copyright a {
    color: white;
    font-size: 14px;
    text-decoration: underline;
}
